header{
    padding: 15px 0;
    background-color: #000;
}
.header{
    font-size: 24px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.logo{
    width: 37px;
    height: 59px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}