.dialog_area{
    width: calc(75% - 15px);
    background-color: #000;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
}
.dialog_list{
    width: calc(30% - 15px);
    background: #fff;
    padding: 15px;
}
.chart_area{
    width: calc(70% - 15px);
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.had{
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px;
}