

.avatar {
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    color: #fff;
}

.line p {
    color: #fff;
}
